:root { 
--gray_50_01:#fafcff; 
--gray_50_02:#f8f9fa; 
--black_900_b2:#000000b2; 
--gray_50_03:#f5f9ff; 
--gray_50_04:#f4f8ff; 
--gray_50_05:#fff7f2; 
--light_blue_100:#b0e5fc; 
--gray_50_06:#fffcf3; 
--red_200:#fa9a9a; 
--blue_A200:#4d90ff; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--black_900_01:#090b0d; 
--blue_gray_700:#535763; 
--blue_gray_900:#262b35; 
--black_900_02:#130e00; 
--blue_900:#003995; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--blue_50:#e0ebff; 
--gray_100_02:#f4fbf7; 
--blue_gray_100_6c:#d1d3d46c; 
--gray_100_01:#fdf5f4; 
--white_A700:#ffffff; 
--blue_gray_700_01:#424c5d; 
--deep_orange_50:#f9eee3; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--black_900:#000000; 
--blue_A200_01:#3b82f6; 
--blue_50_01:#e0ecff; 
--deep_orange_400:#d58c48; 
--gray_700_11:#55555511; 
--gray_900_02:#0d062d; 
--blue_gray_200:#bac1ce; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#0d1624; 
--gray_900_01:#0f0e17; 
--orange_300:#ffb543; 
--gray_100:#fbf1f2; 
--blue_200:#a6c8ff; 
}